APP_NAME=random-roger
APP_ENV=local
APP_KEY=base64:t9MmRf5eAPaYuXZQ6mqyIuCs10FTpM7fkuXUAT5RbQ8=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://random-roger.whateva

DB_CONNECTION=pgsql
DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=file

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=